# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myenv/
env/
venv/

# Django stuff
*.sqlite3
*.log
*.pot
*.pyc
*.mo
*.swp

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
